html, body {
  scroll-behavior : smooth;
}

body {
  @apply font-primary max-w-full min-h-screen leading-relaxed;
  background-color    : #cdd9e5;
  background-image    : url("/images/bg-wave.svg");
  background-position : top center;
  background-repeat   : no-repeat;
  color               : #8ea3b8;
}

p {
  @apply mb-2;

  a {
    @apply no-underline border-b-2;
    color        : inherit;
    border-color : #2b8ed6;

    &:hover {
      @apply italic;
    }
  }

  &:last-of-type {
    @apply mb-0;
  }
}

.container {
  @apply mx-auto;
}
