.article {
  @apply mt-2;

  &__reading-time {
    @apply bg-green-200 rounded-lg text-sm px-2 py-1;
  }

  &__date {
    @apply text-blue-700 italic block;
  }

  &__content {
    blockquote {
      @apply text-gray-600 italic m-4 mr-0 text-lg;
    }

    a {
      @apply text-blue-500 underline;

      &:hover {
        @apply text-blue-700;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      @apply mb-2 mt-3;
    }

    h1 {
      @apply text-2xl text-blue-500;
    }

    h2 {
      @apply text-2xl text-blue-500;
    }

    h3 {
      @apply text-xl text-blue-700 font-bold;
    }

    h4 {
      @apply text-lg text-blue-700 font-bold;
    }

    h5, h6 {
      @apply text-blue-700 font-bold;
    }

    code {
      @apply bg-gray-100 shadow-inner rounded border px-1;
    }

    pre {
      code {
        @apply my-2 overflow-x-scroll p-4;
        background-color: #2b2b2b;
      }
    }

    ul {
      @apply my-2 ml-3;

      li {
        @apply list-disc list-inside;

        & > ul {
          @apply my-0;
        }
      }
    }
  }

  &__versions, &__topics {
    @apply w-full block flex content-center items-center my-1;

    &-title {
      @apply w-20 h-full text-right pr-3 flex-none;
    }

    &-list {
    }
  }
}