.avatar {
    @apply bg-gray-200 rounded-full mx-auto shadow-md flex-grow-0 flex-shrink-0 relative inline-block object-cover object-center overflow-hidden;
    height : 72px !important;
    width  : 72px !important;

    &--spaced {
        @apply mx-3;
    }

    &__image {
        min-height : 72px;
        min-width  : 72px;
    }

    &__social {
        @apply bg-white rounded-full mx-auto shadow-md flex-grow-0 flex-shrink-0 text-center flex justify-center content-center items-center absolute;
        bottom : -5px;
        height : 30px;
        left   : -5px;
        width  : 30px;

        &--github {
            @extend .fab;
            @extend .fa-github;
            color : #333333;
        }

        &--twitter {
            @extend .fab;
            @extend .fa-twitter;
            color : #1da1f2;
        }

        &--google {
            &:before {
                background-image    : url('/images/google-logo.svg');
                background-position : center;
                background-repeat   : no-repeat;
                content             : '';
                height              : 16px;
                width               : 16px;
            }
        }

        &--discord {
            @extend .fab;
            @extend .fa-discord;
            color : #7289da;
        }
    }
}
