.breadcrumbs {
    @apply flex justify-start w-full mb-2 -mt-2;

    .breadcrumb {
        @apply px-4 relative text-gray-500 inline-block;
        break-inside : avoid;

        &--active {
            @apply text-blue-400;
            overflow         : hidden;
            -o-text-overflow : ellipsis;
            text-overflow    : ellipsis;
            white-space      : nowrap;
        }

        @include responsiveMax('sm') {
            @apply hidden;
        }

        &:after {
            @apply inline-block absolute text-blue-300;
            @extend .fa;
            @include fa-icon();
            content : fa-content($fa-var-angle-double-right);
            right   : -6px;
            top     : 5px;
        }

        &:hover {
            @apply font-bold;
        }

        &:first-child {
            @apply pl-2;
        }

        &:last-child {
            @apply pr-2;

            &:after {
                @apply hidden;
            }
        }
    }

}
