.grid {
    @apply flex flex-wrap -m-2;

    &--2 .column {
        @apply w-1/2;
    }
    &--3 .column {
        @apply w-1/3;
    }
    &--4 .column {
        @apply w-1/4;
    }
    &--5 .column {
        @apply w-1/5;
    }
    &--6 .column {
        @apply w-1/6;
    }

    .column {
        @apply p-2;
    }
}
