.nav {
  &__item {
    @apply uppercase px-4 py-2 no-underline;
    color: #E7ECF2;
  }

  &--header {
    @apply flex justify-center items-center content-center py-4;

    .nav__item {
      @apply mx-4;
      color: #E7ECF2;

      &--active, &:hover {
        @apply text-white rounded-full shadow-inner;
        background-color: rgba(43, 108, 176, .5);
      }
    }
  }
}