.page {
    @apply flex flex-col justify-between h-full min-h-screen p-4;
    margin-left : 20rem;

    @media (max-width : 900px) {
        margin-left : 0;
    }

    &__heading {
        @apply text-3xl text-blue-500 block mb-2;

        &-icon {
            @include fa-icon();
            @extend .far;
            @apply mr-1;
        }
    }

    &__header {
        @apply mb-4;

        &--small-screens {
            @apply w-full;

            @media (min-width : 901px) {
                @apply hidden;
            }
        }

        &-heading {
            @apply text-4xl text-blue-500 border-b;
        }

        &-subheading {
            @apply text-blue-400 text-lg;
        }

        &-text {
            @apply mt-3;
        }

        &-controls {
            @apply float-right mt-4;
        }
    }

    &__description {
        @apply mb-4;
    }

    &__body {
        @apply flex-grow w-full;
    }

    &__footer {
        @apply block w-full text-gray-500 border-t text-sm -mb-6;

        .button {
            @apply text-gray-500;

            &:hover {
                @apply text-gray-600;
            }
        }
    }
}
