.topic {
  &__badge {
    @apply rounded-full uppercase text-white py-1 pl-2 pr-3 text-xs font-semibold bg-purple-400 inline-block my-1;
    break-inside: avoid;

    &-icon {
      @include fa-icon();
      @extend .far;
      @extend .fa-file-certificate;
      @apply mx-1;
    }

    &:hover {
      @apply shadow bg-purple-700;

      .topic__badge-icon {
        @extend .fas;
        font-weight : 900;
      }
    }
  }
}
