.sr-only {
    border            : 0 !important;
    clip              : rect(1px, 1px, 1px, 1px) !important; /* 1 */
    -webkit-clip-path : inset(50%) !important;
    clip-path         : inset(50%) !important; /* 2 */
    height            : 1px !important;
    margin            : -1px !important;
    overflow          : hidden !important;
    padding           : 0 !important;
    position          : absolute !important;
    width             : 1px !important;
    white-space       : nowrap !important; /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
    clip              : auto !important;
    -webkit-clip-path : none !important;
    clip-path         : none !important;
    height            : auto !important;
    margin            : auto !important;
    overflow          : visible !important;
    width             : auto !important;
    white-space       : normal !important;
}

.link {
    @apply underline text-blue-500;

    &--subtle {
        @apply text-sm;
    }

    &--white {
        @apply text-white;
    }

    &--circle {
        @apply rounded-full;
    }

    &--twitter {
        @apply text-white no-underline py-1 px-2 rounded shadow;
        background-color            : #1da1f2;
        -webkit-column-break-inside : avoid;
        page-break-inside           : avoid;
        break-inside                : avoid;

        &::before {
            @include fa-icon();
            @extend .fab;
            @extend .fa-twitter;
            @apply mr-2;
        }
    }

    &--github {
        @apply text-white no-underline py-1 px-2 rounded shadow;
        background-color            : #333333;
        -webkit-column-break-inside : avoid;
        page-break-inside           : avoid;
        break-inside                : avoid;

        &::before {
            @include fa-icon();
            @extend .fab;
            @extend .fa-github;
            @apply mr-2;
        }
    }

    &--twitch {
        @apply text-white no-underline py-1 px-2 rounded shadow;
        background-color            : #6441a5;
        -webkit-column-break-inside : avoid;
        page-break-inside           : avoid;
        break-inside                : avoid;

        &::before {
            @include fa-icon();
            @extend .fab;
            @extend .fa-twitch;
            @apply mr-2;
        }
    }
}

.text {
    &--center {
        @apply text-center;
    }

    &--spaced {
        @apply mb-6 leading-loose;
    }

    &--success {
        @apply text-green-500;
    }

    &--error {
        @apply text-red-500;
    }

    &--secondary {
        @apply text-gray-500 text-sm;
    }

    &--block {
        @apply block;
        break-inside : avoid !important;
        white-space  : nowrap;
    }

    &--right {
        @apply text-right;
    }

    &--number {
        font-variant : tabular-nums;
    }
}
