.version {
  &__badge {
    @apply rounded-full uppercase text-white py-1 pl-2 pr-3 text-xs font-semibold bg-green-400 inline-block;
    break-inside: avoid;

    &-icon {
      @include fa-icon();
      @extend .far;
      @extend .fa-laptop-code;
      @apply mx-1;
    }

    &:hover {
      @apply shadow bg-green-700;

      .version__badge-icon {
        @extend .fas;
        font-weight : 900;
      }
    }
  }
}