html, body {
    scroll-behavior: smooth;
}

body {
    @apply bg-gray-100 font-primary max-w-full min-h-screen text-gray-700 leading-relaxed;
}

p {
    @apply mb-2;
}

.container {
    @apply w-full;
    max-width : map-get($breakpoints, 'md') + 320px;
}
